.App {
  position: relative; }

.home {
  display: flex; }

.button.is-success {
  background-color: #77ab59; }

.button.is-danger {
  background-color: #ef5411; }

a {
  color: #77ab59; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in; }
