.home {

  .hero {
    text-align: center;
  }

  .header-image {
    background-image: url("http://res.cloudinary.com/ninayujiri/image/upload/v1528216125/joel-stylis-573185-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    }

}
