.landing-page {

  .hero {
    margin-top: 54px;
    text-align: center;
    padding-top: 4em;
    height: 748px
  }

  .header-image {
    background-image: url("http://res.cloudinary.com/ninayujiri/image/upload/v1528382296/chair2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    }

}
