.landing-page {

  .hero {
    text-align: center;
    padding-top: 4em;
    height: 550px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 667px) {
        height: 500px;
        padding-top: 120px;
    }
  }

  .header-image {
    background-image: url("https://images.unsplash.com/photo-1488841714725-bb4c32d1ac94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d583c682a8495bbe8de0560dedc1942&auto=format&fit=crop&w=2816&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    background-color: #999;
    }

    .info-boxes {
      margin-top: 40px;
      text-align: center;
    }

    .card {
      background-color: #f1f5ef;
      box-shadow: none;
    }

    .card-content {
      margin: 90px 0 90px 0;
    }

    .footer {
      background-color: white;
      text-align: center;
      margin-top: 40px;
      height: 100px;
    }
}


