.App {
  position: relative; }

.home {
  display: flex; }

.landing-page .hero {
  margin-top: 54px;
  text-align: center;
  padding-top: 4em;
  height: 748px; }

.landing-page .header-image {
  background-image: url("http://res.cloudinary.com/ninayujiri/image/upload/v1528382296/chair2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999; }

.map {
  height: 94vh;
  flex-basis: 100%; }

body {
  font-family: helvetica;
  font-size: 18px; }

.navbar {
  z-index: 100;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.nav-button {
  padding: 0;
  margin: 0;
  border: 0; }

.navbar-menu {
  padding-bottom: 0;
  margin-bottom: 0; }

.nav-items {
  position: relative; }
  .nav-items:hover .nav-content {
    max-height: 200px; }

.nav-content {
  position: absolute;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0px; }

.nav-toggle {
  padding-top: 12px;
  margin-bottom: 0px;
  max-height: 100%; }

.brand-text {
  padding: 5px; }

.sidebar {
  top: 0;
  bottom: 0;
  height: 94vh;
  margin: 10px 10px 0 10px;
  flex-basis: 400px;
  overflow-y: scroll;
  background-color: white;
  z-index: 50; }
  .sidebar .trash-icon {
    margin-left: 1.3em;
    margin-right: 0.7em; }

body {
  margin-top: 54px; }
