.upload-form {
  display: flex;
  overflow: hidden; }

.fields {
  padding-right: 30px; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .fields {
      padding-right: 10px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .new-post-modal {
    width: 90%;
    align-content: center; } }
