.no-results {
  text-align: center;
  height: 500px;
  vertical-align: center;
  padding-top: 150px;
}

.hero .is-light {
  width: 100% !important;
  display: flex;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-footer {
  margin-top: auto;
}

.search-bar {
  text-align: center;
  align-items: center;
}

.post-list {
  margin-top: 40px;
}

.field.is-grouped>.control:not(:last-child) {
  margin-right: 0;
}