.modal is-active {
  width: 275px;
  z-index: 150;
}

.modal-image {
  width: 275px;
}

.content {
  max-width: 275px;
  overflow-wrap: break-word;
}

.modal-address {
  max-width: 275px;
  overflow-wrap: break-word;
}