.modal is-active {
  width: 300px;

}

.modal-image {
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  max-width: 300px;
  overflow-wrap: break-word;
}

.modal-address {
  max-width: 300px;
  overflow-wrap: break-word;
}