.hero {
  text-align: center;
  height: 500px;
  vertical-align: center;
  padding-top: 150px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-footer{
  margin-top: auto;
}

.box {
  margin: 100px 25px 0 25px;
}

.search {
  margin-left: 20px;
  margin-bottom: 20px;
}