.sidebar {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 10px;
  width: 275px;
  overflow-y: scroll;
  position: fixed;
  background-color: white;
  z-index: 50;

  .trash-icon {
    margin-left: 1.3em;
    margin-right: 0.7em;
  }
}
