.side-bar-item {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 100%; }
  .side-bar-item:hover .side-bar-item-content {
    max-height: 300px; }

.side-bar-item-content {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0; }

.side-bar-item-inner {
  padding: 0; }

.side-bar-item-toggle {
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
  border-radius: 3px;
  display: block; }
  .side-bar-item-toggle:hover {
    background: #0000b3; }
