.sidebar {
  top: 0;
  bottom: 0;
  height: 94vh;
  padding: 20px 0 0 10px;
  flex-basis: 400px;
  overflow-y: scroll;
  background-color: #fafafa;
  z-index: 50;

  .trash-icon {
    margin-left: 1.3em;
    margin-right: 0.7em;
  }
}

