.sidebar {
  top: 0;
  bottom: 0;
  height: 94vh;
  margin: 10px 10px 0 10px;
  flex-basis: 400px;
  overflow-y: scroll;
  background-color: white;
  z-index: 50; }
  .sidebar .trash-icon {
    margin-left: 1.3em;
    margin-right: 0.7em; }
